Repository jina-ai/inference-client, pull requests merged in 2023-07, with the labels that each got.

#51 feat: customize post request and result handling logic in encoding task
  .github/workflows/ci.yml
  inference_client/tasks/encode.py
  tests/conftest.py
  tests/executor.py
  tests/test.jpeg
  tests/test_caption.py
  tests/test_encode.py
  tests/test_rank.py
  tests/test_vqa.py
Labels: size/m, area/housekeeping, area/cicd, area/testing

#52 fix: print secret token
  inference_client/client.py
  inference_client/helper.py
  inference_client/model.py
  inference_client/tasks/generate.py
  inference_client/tasks/helper.py
Labels: size/s

#53 fix: generate parameters
  inference_client/tasks/generate.py
Labels: size/s

#54 feat: add text-to-image task
  inference_client/model.py
  inference_client/tasks/generate.py
  inference_client/tasks/helper.py
  inference_client/tasks/text_to_image.py
  tests/executor.py
  tests/test_text_to_image.py
Labels: size/m, area/testing

#56 fix: flatten parameters for image generation tasks
  inference_client/tasks/image_to_image.py
  inference_client/tasks/text_to_image.py
  tests/test_image_to_image.py
  tests/test_text_to_image.py
Labels: size/m, area/testing
